.ui.image img{
    max-height: 19rem;
}

.ui.list > .item .header {
    padding: 5px;
    border-bottom: 1px solid #eee;
    background-color: #e1e1e1e1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ui.list:last-child, ol.ui.list:last-child {
    width: auto;
    padding: 20px;
    margin-left: 27px;
}

.main-nav {
    padding: 53px 53px 0;
}